<%- include("header.ejs") %>

<body>
    <div>
        <form method="POST" enctype="multipart/form-data">
            <ul class="noListType">
                <li><input type="text" name="name" placeholder="Namn" required></li>
                <li><input type="text" name="price" placeholder="Pris" required></li>
                <li><input type="text" name="description" placeholder="Beskrivning" required></li>
                <li>
                    <input type="radio" name="category" value="lakrits"><label for="lakrits"> Lakrits</label>
                    <input type="radio" name="category" value="chokladlakrits"><label for="chokladlakrits"> Chokladlakrits</label>
                </li>
                <li><input type="text" name="createdByAdmin" placeholder="Skapad av" required></li>
                <li><input type="file" name="img" required></li>
            </ul>

            <button type="submit">Add</button>
        </form>
    </div>


    <div>
        <table>
            <tr>
                <th>Namn</th>
                <th>Pris</th>
                <th>Beskrivning</th>
                <th>Kategori</th>
                <th>Skapad av</th>
                <th>Bild</th>
                <th>Ändra</th>
                <th>Ta bort</th>
            </tr>
        
            <% findCandy.forEach( (candy) => { %>

                <tr id="productRow"><td><%= candy.name %></td> <td><%= candy.price %> kr</td> <td><%= candy.description %></td> <td><%= candy.category %></td> <td><%= candy.createdByAdmin %></td> <td><%= candy.img %></td></tr>
            
            <% }); %>
        </table>
    </div>
</body>