<%- include("header.ejs") %>

    <div class="container">
        <div class="row">
        <% allCandy.forEach( item => { %>
                <div class="product-container col-sm-4 img-fluid">
                    <a href="/allproducts/<%= item.name %>">
                   <img src="<%= item.img %>" alt="Bild på lakrits" class="hover">
                    <br>
                    </a>
                    
                    <a href="/allproducts/<%= item.name %>"><%= item.name %></a>
                    <!--<p><%= item.description %> </p>-->
                    <p><%= item.price %> SEK</p>
                    <button type="button">Lägg i varukorg</button>
                </div>
        <% }); %>
        </div>
    </div>

<%- include("footer.ejs") %>