<%- include("./header.ejs") %>

<body>
    <div>
        <table style="width: 90%; margin: 10px;">
            <tr>
            <th style="width: 200px;">Name</th>
            <th>Description</th>
            <th style="width: 100px; text-align: right;">Price</th>
            <th></th>
            </tr>

            
        </table>
    </div>
    <div>
        <% allCandy.forEach( item => { %>
            <div class="lakritsDiv">
                <a href="/allproducts/<%= item.name %>"> <%= item.name %></a>
                <p><%= item.description %> </p>
                <p style="text-align: right;"><%= item.price %> </p>
                <button type="button">Add to cart</button>
            </div>
        <% }); %>
    </div>
</body>