<<<<<<< HEAD
<%- include("./header.ejs") %>

<body>
    <!-- <div>
        <table style="width: 90%; margin: 10px;">
            <tr>
            <th style="width: 200px;">Name</th>
            <th>Description</th>
            <th style="width: 100px;">Price</th>
            <th></th>
            </tr>

            
        </table>
    </div> -->
    <div class="lakritsWrappingDiv row">
        <% sixProducts.forEach( item => { %>
            <div class="innerLakritsDiv">
                <div class="lakritsDiv">
                   <img src="<%= item.img %>" alt=""> <br>
                    
                    <a href="/allproducts/<%= item.name %>"><%= item.name %></a>
                    <!-- <p><%= item.description %> </p> -->
                    <p><%= item.price %> </p>
                    <button type="button">Lägg i varukorg</button>
                </div>
            </div>
        <% }); %>
    </div>

    <div id="pagination">
    <% for (let page = 1; page <= pageCount; page++ ) { %>
        <% if (currentPage == page) { %>
        <a href="/allproducts/?page=<%= page %>" class="current"><%= page %></a>
        <% } else { %>
        <a href="/allproducts/?page=<%= page %>"><%= page %></a>
        <% } %>
        <% } %>
    </div>
    
=======
<%- include("header.ejs") %>

<div class="container" id="all-products-container">
    <div class="row">
        <% sixProducts.forEach( item => { %>
        <div class="product-container col-sm-4 img-fluid">
            <a href="/allproducts/<%= item.name %>">
                <img src="<%= item.img %>" alt="Bild på lakrits" class="hover">
                <br>
            </a>
            <a href="/allproducts/<%= item.name %>"><%= item.name %></a>
            <p><%= item.price %> SEK</p>
            <button type="button">Lägg i varukorg</button>
        </div>
        <% }); %>
    </div>
</div>

<div id="pagination">
    <% for (let page = 1; page <= pageCount; page++ ) { %>
    <% if (currentPage == page) { %>
    <a href="/allproducts/?page=<%= page %>" class="current"><%= page %></a>
    <% } else { %>
    <a href="/allproducts/?page=<%= page %>"><%= page %></a>
    <% } %>
    <% } %>
</div>

>>>>>>> 5cb1de28494d67e01670b012472fcdbbdcae799d
</body>

<%- include("footer.ejs") %>