<%- include("header.ejs") %>

<div class="container">
    <div class="oneProductWrappingDiv col-6"> 
        <%= selectedCandy.img %> <br>
    </div>
    <div class="row justify-content-center">
        <div class="oneProductDescriptionDiv col-3"> 
            Name: <%= selectedCandy.name %> <br>
        </div>
        <div class="oneProductDescriptionDiv col-7">
            Description: <%= selectedCandy.description %> <br>
        </div>
        <div class="oneProductDescriptionDiv col-2">
            Price: <%= selectedCandy.price %> 
        </div>
    </div>
</div>

<%- include("footer.ejs") %>