<%- include("header.ejs") %>

<div class="container">
    <div class="row oneProductHeader">
        <div class="lakritsImgDiv">         
            <img class="lakritsImg" src="<%= selectedCandy.img %>">
        </div>
        <div class="oneProductTitle col-sm-12 col-md-6 col-lg-6">
            <h2><%= selectedCandy.name %></h2> <br>
            <span><%= selectedCandy.price %> kr</span>
        </div>
        <div class="oneProductDescription col-sm-12 col-md-6 col-lg-4 float-right">
            <%= selectedCandy.description %>
        </div>
    </div>
    
</div>

<%- include("footer.ejs") %>