<%- include("header.ejs") %>

<div class="container">
    <div class="row  justify-content-between oneProductHeader">
        <div class="oneProductTitle col-sm-12 col-md-6 col-lg-6">
            <h2><%= selectedCandy.name %></h2> <br>
            <span><%= selectedCandy.price %> kr</span>
        </div>
        <div class="oneProductDescription col-sm-12 col-md-6 col-lg-4 float-right">
            <%= selectedCandy.description %>
        </div>
        <div>
            <img src="<%= selectedCandy.img %>" alt="">
        </div>
    </div>
    <!-- <img src="../../public/images/twisted_banana_2.jpg" alt=""> -->
</div>

<%- include("footer.ejs") %>