<%- include("headermember.ejs") %>

<div class = "container thecontainer">
    <div class = "row justify-content-center py-3">
        <h3 class="my-page-title">Mina sidor</h3>
        
    </div>

<div class ="row justify-content-center">
    <div class="col-sm-12 col-md-9 text-center">
<h5>Din Wishlist</h5>
        <ul>
            <% user.wishlist.forEach( (Candy)=>{ %>
<<<<<<< HEAD
         
=======
            <%= Candy.CandyId %>
>>>>>>> e5f2c8a189f012ed77534388c24a430dbd075920
        <li><%= Candy.CandyId.name%>
        <span> Price: <%=Candy.CandyId.price %> </span>
        </li>
            <a href="/deleteWishlist/<%=Candy.CandyId._id%>">Remove from wishlist</a>
            <% } ) %>
        </ul>
</div>
    
    <div class="col-sm-12 col-md-3 text-center">
        <h6><a href="/mypage">Mina uppgifter</a></h6>
        <h6>Mina beställningar</h6>
        <h6><a href="/wishlist">Min Wishlist</a></h6>
        <h6>Säg upp medlemskap</h6>
        <h6><%- include("logout.ejs") %></h6>
    </div>

</div>

</div>

<%- include("../public/footer.ejs") %>